In [16]:
import numpy as np
import pandas as pd
from time import time
from IPython.display import display # Allows the use of display() for DataFrames
import matplotlib as plt
from sklearn.model_selection import train_test_split

In [17]:
data = pd.read_csv("OnlineNewsPopularity.csv")

In [18]:
data.columns = data.columns.str.strip()

In [19]:
data.shape

(39644, 61)

In [20]:
data.head()

,url,timedelta,n_tokens_title,n_tokens_content,n_unique_tokens,n_non_stop_words,n_non_stop_unique_tokens,num_hrefs,num_self_hrefs,num_imgs,...,min_positive_polarity,max_positive_polarity,avg_negative_polarity,min_negative_polarity,max_negative_polarity,title_subjectivity,title_sentiment_polarity,abs_title_subjectivity,abs_title_sentiment_polarity,shares
0,http://mashable.com/2013/01/07/amazon-instant-...,731,12,219,0.663594,1.0,0.815385,4,2,1,...,0.100000,0.7,-0.350000,-0.600,-0.200000,0.500000,-0.187500,0.000000,0.187500,593
1,http://mashable.com/2013/01/07/ap-samsung-spon...,731,9,255,0.604743,1.0,0.791946,3,1,1,...,0.033333,0.7,-0.118750,-0.125,-0.100000,0.000000,0.000000,0.500000,0.000000,711
2,http://mashable.com/2013/01/07/apple-40-billio...,731,9,211,0.575130,1.0,0.663866,3,1,1,...,0.100000,1.0,-0.466667,-0.800,-0.133333,0.000000,0.000000,0.500000,0.000000,1500
3,http://mashable.com/2013/01/07/astronaut-notre...,731,9,531,0.503788,1.0,0.665635,9,0,1,...,0.136364,0.8,-0.369697,-0.600,-0.166667,0.000000,0.000000,0.500000,0.000000,1200
4,http://mashable.com/2013/01/07/att-u-verse-apps/,731,13,1072,0.415646,1.0,0.540890,19,19,20,...,0.033333,1.0,-0.220192,-0.500,-0.050000,0.454545,0.136364,0.045455,0.136364,505

In [21]:
data.columns

Index(['url', 'timedelta', 'n_tokens_title', 'n_tokens_content',
       'n_unique_tokens', 'n_non_stop_words', 'n_non_stop_unique_tokens',
       'num_hrefs', 'num_self_hrefs', 'num_imgs', 'num_videos',
       'average_token_length', 'num_keywords', 'data_channel_is_lifestyle',
       'data_channel_is_entertainment', 'data_channel_is_bus',
       'data_channel_is_socmed', 'data_channel_is_tech',
       'data_channel_is_world', 'kw_min_min', 'kw_max_min', 'kw_avg_min',
       'kw_min_max', 'kw_max_max', 'kw_avg_max', 'kw_min_avg', 'kw_max_avg',
       'kw_avg_avg', 'self_reference_min_shares', 'self_reference_max_shares',
       'self_reference_avg_sharess', 'weekday_is_monday', 'weekday_is_tuesday',
       'weekday_is_wednesday', 'weekday_is_thursday', 'weekday_is_friday',
       'weekday_is_saturday', 'weekday_is_sunday', 'is_weekend', 'LDA_00',
       'LDA_01', 'LDA_02', 'LDA_03', 'LDA_04', 'global_subjectivity',
       'global_sentiment_polarity', 'global_rate_positive_words',
       'global_rate_negative_words', 'rate_positive_words',
       'rate_negative_words', 'avg_positive_polarity', 'min_positive_polarity',
       'max_positive_polarity', 'avg_negative_polarity',
       'min_negative_polarity', 'max_negative_polarity', 'title_subjectivity',
       'title_sentiment_polarity', 'abs_title_subjectivity',
       'abs_title_sentiment_polarity', 'shares'],
      dtype='object')

In [22]:
stupid_columns = ['url', 'timedelta', 'num_self_hrefs', 'num_keywords', 'kw_avg_max',
                  'kw_min_min', 'kw_max_min', 'kw_avg_min', 'kw_min_max', 'kw_max_max',
                  'kw_min_avg', 'kw_max_avg', 'kw_avg_avg', 'self_reference_min_shares',
                  'self_reference_max_shares', 'self_reference_avg_sharess', 'LDA_00', 'LDA_01',
                  'LDA_02', 'LDA_03', 'LDA_04', 'global_subjectivity', 'global_sentiment_polarity',
                  'avg_positive_polarity', 'min_positive_polarity', 'max_positive_polarity',
                  'avg_negative_polarity', 'min_negative_polarity', 'max_negative_polarity',
                  'title_subjectivity', 'title_sentiment_polarity', 'abs_title_subjectivity',
                  'abs_title_sentiment_polarity'
                 ]

In [23]:
dropped_cols_data = data.drop(columns=stupid_columns)

In [24]:
dropped_cols_data.shape

(39644, 28)

In [25]:
dropped_cols_data.columns

Index(['n_tokens_title', 'n_tokens_content', 'n_unique_tokens',
       'n_non_stop_words', 'n_non_stop_unique_tokens', 'num_hrefs', 'num_imgs',
       'num_videos', 'average_token_length', 'data_channel_is_lifestyle',
       'data_channel_is_entertainment', 'data_channel_is_bus',
       'data_channel_is_socmed', 'data_channel_is_tech',
       'data_channel_is_world', 'weekday_is_monday', 'weekday_is_tuesday',
       'weekday_is_wednesday', 'weekday_is_thursday', 'weekday_is_friday',
       'weekday_is_saturday', 'weekday_is_sunday', 'is_weekend',
       'global_rate_positive_words', 'global_rate_negative_words',
       'rate_positive_words', 'rate_negative_words', 'shares'],
      dtype='object')

In [26]:
data2 = dropped_cols_data[dropped_cols_data.shares<3500]
data2.shape

(31836, 28)

In [27]:
target = data2.shares.to_frame()
predictors = data2.drop('shares',axis=1)

In [28]:
target.head()

   shares
0     593
1     711
2    1500
3    1200
4     505

In [29]:
predictors.head()

,n_tokens_title,n_tokens_content,n_unique_tokens,n_non_stop_words,n_non_stop_unique_tokens,num_hrefs,num_imgs,num_videos,average_token_length,data_channel_is_lifestyle,...,weekday_is_wednesday,weekday_is_thursday,weekday_is_friday,weekday_is_saturday,weekday_is_sunday,is_weekend,global_rate_positive_words,global_rate_negative_words,rate_positive_words,rate_negative_words
0,12,219,0.663594,1.0,0.815385,4,1,0,4.680365,0,...,0,0,0,0,0,0,0.045662,0.013699,0.769231,0.230769
1,9,255,0.604743,1.0,0.791946,3,1,0,4.913725,0,...,0,0,0,0,0,0,0.043137,0.015686,0.733333,0.266667
2,9,211,0.575130,1.0,0.663866,3,1,0,4.393365,0,...,0,0,0,0,0,0,0.056872,0.009479,0.857143,0.142857
3,9,531,0.503788,1.0,0.665635,9,1,0,4.404896,0,...,0,0,0,0,0,0,0.041431,0.020716,0.666667,0.333333
4,13,1072,0.415646,1.0,0.540890,19,20,0,4.682836,0,...,0,0,0,0,0,0,0.074627,0.012127,0.860215,0.139785

In [30]:
x_train,x_test,y_train,y_test=train_test_split(predictors,target,test_size=0.20)

In [31]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((25468, 27), (6368, 27), (25468, 1), (6368, 1))

In [32]:
from sklearn.linear_model import LinearRegression

In [33]:
regressor = LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [34]:
y_pred = regressor.predict(x_test)

In [48]:
y_test.values

array([[ 722],
       [1200],
       [ 968],
       ...,
       [ 895],
       [ 654],
       [2500]])

In [42]:
y_pred

array([[1538.33761284],
       [1233.9406772 ],
       [1253.52207184],
       ...,
       [1377.9596432 ],
       [1235.92539886],
       [1498.53799706]])

In [67]:
y_pred_df = pd.DataFrame(y_pred)

In [107]:
y_test.index = range(y_test.size)

In [108]:
result = pd.concat([y_test, y_pred_df], axis=1)
result

      shares            0
0        722  1538.337613
1       1200  1233.940677
2        968  1253.522072
3       2600  1208.759925
4       1400  1704.420246
5       3400  1740.070937
6        806  1426.684015
7       1700  1419.403307
8       1900  1154.239227
9       1500  1070.981837
10      1000  1232.444442
11       845  1220.404122
12      2900  1184.490977
13      2500  1431.881904
14      1700  1106.416003
15      2500  1552.695929
16      1400  1478.372431
17       767  1438.700451
18      2500  1437.735472
19      1100  1476.558655
20      3100  1229.638529
21       889  1388.967366
22      1800  1661.304191
23       775  1179.687805
24      2800  1619.938372
25       960  1060.843498
26      1200  1158.781437
27      1900  1323.251540
28      1400  1355.869043
29       652  1419.160292
...      ...          ...
6338    3400  1462.332762
6339    1300  1389.521020
6340     814  1533.221851
6341     995  1183.831195
6342     217  1366.779816
6343    1000  1591.224925
6344    1000  1175.792248
6345     794  1544.979156
6346    3100  1618.363067
6347    1200  1864.237852
6348     649  1192.987353
6349    1300  1437.660925
6350     985  1144.852051
6351     561  1323.919288
6352    1900  1666.330457
6353    2000  1385.643784
6354     559  1453.814102
6355    1600  1566.274090
6356    2100  1466.778882
6357    2900  1504.296797
6358    1300  1367.184165
6359    2500  1341.229585
6360    1300  1427.015030
6361    1200  1317.322594
6362    1400  1109.444255
6363    1800  1291.387739
6364    3100  1600.332442
6365     895  1377.959643
6366     654  1235.925399
6367    2500  1498.537997

[6368 rows x 2 columns]